apps_copy
*.swp
trash
pim/apps/_files/site_files/*
pim/assets/frontend/images/siteImage/*
pim/assets/frontend/images/slider/*
pim/assets/frontend/images/photo/*
pim/vendor/*
pim/composer.lock
pim_sta
pim/logs/access.txt
pim/php.ini
pim/assets/frontend/images/cache/*
pim/apps/_files/release2
pim/server/announcement.json
*.old
pim/apps/_files/reportGeneration/*
pim/apps/_files/site_requisition/*
!pim/apps/_files/site_requisition/placeholder
repo/*
!repo/placeholder
env.php
lms/*
!lms/placeholder
localenvdb.php
attendance/*
!attendance/placeholder
pim/apps/_config/database.php
.credentials/*
!.credentials/placeholder
!.credentials/*.example
digitalgaia_iris16-6-16_pi1m_20052016.sql
nbproject/private/private.properties
nbproject/private/private.xml
snipeit16-6-16_pi1m_20052016.sql
nbproject/project.xml
nbproject/project.properties
