apps_copy
*.swp
trash
pim/apps/_files/site_files/*
pim/assets/frontend/images/siteImage/*
pim/assets/frontend/images/slider/*
pim/assets/frontend/images/photo/*
pim/vendor/*
pim/composer.lock
pim_sta
pim/logs/access.txt
pim/php.ini
pim/assets/frontend/images/cache/*
pim/apps/_files/release2
pim/server/announcement.json
*.old
pim/apps/_files/reportGeneration/*
pim/apps/_files/site_requisition/*
!pim/apps/_files/site_requisition/placeholder