@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	background:url(../images/bgContent.jpg) repeat-x 0 148px;
}

a{
	color:#ef4f91;
	text-decoration:none;
}

a:hover{
	color:#0079ba;
	/*text-decoration:underline;*/
}

p{
	margin-bottom:20px;
	line-height:20px;
}

strong{
	font-weight:bold;
}

h1{
	font-size:18px;
	margin-bottom:20px;
}

h2{
	font-size:18px;
	margin-top:20px;
	margin-bottom:20px;
}


table{
	line-height:20px;
	margin-bottom:30px;
}

table tr td{
	border:1px solid #007dbf;
	padding:10px;
	background:#FFF;
}

table tr th{
	background:#007dbf;
	color:#FFF;
	border:1px solid #007dbf;
	padding:10px;
}

.noBorder{
	border:none;
}

.clear{
	clear:both;
}

.imgfloatL{
	float:left;
	margin:0 20px 20px 0;
	border: 4px solid #fff;  
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
}

.imgfloatR{
	float:right;
	margin:0 0 20px 20px;
	border: 4px solid #fff;  
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
}

#header{
	width:960px;
	margin:30px auto 20px auto;
}

#siteLogo{
	width:80px;
	float:left;
	margin-left:10px;
}

#siteTitle{
	width:700px;
	height:34px;
	margin-left:25px;
	float:left;
}

#pi1mSite{
	width:700px;
	margin-left:27px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:24px;
	font-weight:700;
	float:left;
}

#splogo{
	width:100px;
	float:right;
	font-size:10px;
	color:#606060;
	text-align:right;
	margin-right:10px;
}

#nav{
	background:url(../images/bgNav.jpg) repeat-x;
}

#nav ul{
	width:960px;
	margin:0 auto;
}

#nav ul li{
	float:left;
	position: relative;
}

#nav ul li a{
	color:#FFFFFF;
	padding:10px 20px 11px 20px;
	display:block;
	text-shadow: -1px -1px 0px rgba(142,79,0,0.7);
}

#nav ul li:hover{
	text-decoration:none;
	background:url(../images/bgNavHover.jpg) repeat-x;
}



#nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
	width: 100%;
	z-index: 10;
	background: #fb8f13;
}

#nav ul ul li
{
	float:none;
	width:100%;
}

#nav ul ul li:hover{

	background: #fb6902 !important;
}

#nav ul ul a
{
	line-height:120%;
	padding:10px 15px;
	color:#FFF;
	border-bottom: 1px solid #feb421;
}

#nav ul ul ul
{
	top:0;
	left:100%
}

#nav ul li:hover > ul
{
	display:block;
}

.socialIcon{
	width:24px;
	height:24px;
	float:right;
	margin:6px 10px 0 0;
}

.socialIcon a{
	text-decoration:none;
	border:none;
}


#content{
	width:960px;
	margin:0 auto;
	padding:50px 0;
}

#news p{
	margin:25px 0;
}

#news2 p{
	margin:25px 0;
}

#news ul li{
	line-height:20px;
	list-style:disc;
	margin-left:30px;
	padding-bottom:10px;
}

#news2 ul li{
	line-height:20px;
	list-style:disc;
	margin-left:30px;
	padding-bottom:10px;
}

#news ul ul{
	padding-top:10px;
}

#news2 ul ul{
	padding-top:10px;
}

.columnL{
	width:465px;
	float:left;
}

.columnR{
	width:465px;
	float:right;
}

#imageSlider{
	float:left;
	width:660px;
	height:290px;
	margin-bottom:55px;
/*	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.2);*/
}

#containerMap{
	float:left;
	width:100%;
	height:290px;
	margin-bottom:55px;
/*	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.2);*/
}

.border{
	border: 4px solid #fff;  
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
}

.galleryThumb{
	margin-bottom:50px;
}

.galleryThumb img{
	padding:8px 8px;
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
}

.galleryThumb img:hover{
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);	
}

.galleryTitle{
	padding:10px 20px;
	margin-bottom:10px;
	background:url(../images/bgNav.jpg) repeat-x;
	color:#FFFFFF;
	text-shadow: -1px -1px 0px rgba(142,79,0,0.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#news{
	width:660px;
	float:left;
}

#news2{
	width:100%;
	float:left;
}

.newsContent{
	margin-bottom:40px;
}

.newsContent h1{
	text-transform:uppercase;
	margin-bottom:0;
}

.newsContent span{
	font-size:12px;
}

.newsContent p{
	margin-top:10px;
}

#sidebar{
	width:265px;
	float:right;
}

.blueBox{
	background:#007dbf;
	width:265px;
	color:#FFFFFF;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	position:relative;
	margin-bottom:20px;
	line-height:17px;
	border:1px solid #e3e3e3;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.2);
}

.bluehilite{
	font-size:18px;
}

.blueBox span.activity{
	display:block;
	background: url(../images/activity-icon.png) no-repeat 7px 5px, url(../images/blueBox-header.jpg) repeat-x;
	width:223px;
	height:53px;
	font-size:18px;
	padding:13px 0 0 42px;
}

.blueBox span.clock{
	display:block;
	background: url(../images/clock-icon.png) no-repeat 7px 5px, url(../images/blueBox-header.jpg) repeat-x;
	width:223px;
	height:53px;
	font-size:18px;
	padding:13px 0 0 42px;
}

.blueBox span.printer{
	display:block;
	background: url(../images/printer-icon.png) no-repeat 7px 10px, url(../images/blueBox-header.jpg) repeat-x;
	width:223px;
	height:53px;
	font-size:18px;
	padding:13px 0 0 42px;
}

.blueBoxContent1{
	padding:0 5px 20px 5px;
}

.blueBoxContent1 a{
	color:#8fd1f4;
}

.blueBoxContent1 a:hover{
	color:#ef4f91;
}

.blueBoxContent1 table{
	margin-bottom:5px;
}

.blueBoxContent1 table tr td{
	background:none;
	line-height:15px;
}

.blueBoxContent{
	padding:0 5px 40px 25px;
}

.blueBoxRibbon{
	width:36px;
	height:36px;
	background:url(../images/blueBox-ribbon.png) no-repeat;
	position:absolute;
	right:-4px;
	bottom:-5px;
}

.normalBox{
	font-size:13px;
	line-height:25px;
	padding-top:20px;
	padding-bottom:20px;
}

.normalBox table{
	margin-bottom:0;
}

.normalBox table tr td{
	border:none;
	padding:5px;
}

.normalBox h1{
	margin-bottom:10px;
}

#footer{
	background:#f2970e;
}

#footerContent{
	width:960px;
	margin:0 auto;
	color:#FFF;
	padding:40px 0;
}

/* ###### White / Pink #########*/
.white-pink {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    background: #FFF;
    padding:30px 30px 20px 30px;
    box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
	border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-border-radius:4px;
}

.white-pink-left{
	width:600px;
	float:left;
}

.white-pink-right{
	width:270px;
	float:right;
	font-size:14px;
}

.white-pink h1 {
    font: 24px Arial, Helvetica, sans-serif, "Trebuchet MS";
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}
.white-pink h1>span {
    display: block;
    font-size: 11px;
    color: #C4C2C2;
}
.white-pink label {
    display: block;
    margin: 0px 0px 5px;
}
.white-pink label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #969696;
}
.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
    color: #555;
    width: 90%;
    padding: 3px 3px 3px 8px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    font: normal 12px/24px Arial, Helvetica, sans-serif;
}
.white-pink textarea{
    height:100px;
}
.white-pink .button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
	
	background: url(../images/bgNav.jpg) repeat-x;

    background-color:#fa8e12;
	
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-border-radius:4px;
	
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;    
	font-style:normal;
    height:30px;
    line-height:28px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow: -1px -1px 0px rgba(142,79,0,0.7);
}
.white-pink .button:hover {
    background: url(../images/bgNavHover.jpg) repeat-x;
    background-color:#fdbc22;
}
.white-pink .button:active {
    position:relative;
    top:1px;
}
.white-pink select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 67%;
}


/*////////////////// faq //////////////////*/
    .accordion {
        margin: 0;
        padding:15px 10px;
        /*height:20px;*/
        border-top:#d6d6d6 1px solid;
        background: none;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration:none;
        /*text-transform:uppercase;*/
        color: #000;
        font-size:1em;
		cursor:pointer;
    }
    .accordion-open {
        background:#007dbf;
        color: #fff;
    }
    .accordion-open span {
        display:block;
        float:left;
        padding:10px;
		margin-right:10px;
    }
    .accordion-open span {
        background:url(../images/minus.png) no-repeat;
    }
    .accordion-close span {
        display:block;
        float:left;
        background:url(../images/plus.png) no-repeat;
        padding:10px;
		margin-right:10px;
    }
    div.container {
        padding:0;
        margin:0;
    }
    div.content {
        background:#f0f0f0;
        margin: 0;
        padding:10px;
        font-size:.9em;
        line-height:1.5em;
        font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    }
    div.content ul, div.content p {
        padding:0;
        margin:0;
        padding:3px;
    }
    div.content ul li {
        list-style-position:inside;
        line-height:25px;
    }
    div.content ul li a {
        color:#555555;
    }
    code {
        overflow:auto;
    }



